.App {
  text-align: center;
}
form{
  display: grid;
  height: 470px;
  margin-top: 5%;
  width: 410px;
  border-radius: 50px;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color:lawngreen;
}
form input{
  height: 40px;
  width: 350px;
  border-radius: 10px;
  align-items: center;
}
.btn{
  height: 45px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 20px;
  background-color:lawngreen;
}
.maame{
  height: 200px;
  margin-top: 5%;
  width: 410px;
  /* border-radius: 50px; */
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color: limegreen;
}
.bat{
  background-color: red;
  height: 30px;
  width: 30px;

}